<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
        <setting type="lsep" label="32001" />
        <setting id="ip_address" type="ipaddress" label="32002" />
        <setting id="port" type="number" label="32003" default="23"/>
        <setting id="display_time" type="number" label="32004" default="1000"/>
    </category>
    <category label="32200">
        <setting type="lsep" label="32201" />
        <setting id="icon_color" type="bool" label="32202" default="false"/>
        <setting id="icon_style" type="select" label="32203" default="0" lvalues="32204|32205|32206" />
    </category>
    <category label="32100">
        <setting type="lsep" label="32101" />
        <setting id="debug" type="bool" label="32102" default="false"/>
        <setting id="display_notification" type="bool" label="32103" default="false"/>
    </category>
</settings>
